
<header class="header">
    <link rel="stylesheet" href="toolbar.css">
    <div class="container">
        <a href="index.html" class="logo">Power<span>Fit</span></a>
        <nav class="navbar">
            <ul class="nav-list">
                <li><a href="inicio.html">Início</a></li>
                <li><a href="sobre.html">Sobre</a></li>
                <li><a href="planos.html">Planos</a></li>
                <li><a href="contato.html" class="active">Contato</a></li>
                <li><a href="login.html" class="active">Login</a></li>
            </ul>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
    </div>
</header>