<header class="cabecalho">
    <div class="container">
      <a href="/public/index.html" class="logo">Power<span>Fit</span></a>
      <nav class="navegacao">
        <ul class="menu">
          <li><a href="/public/Pages/Plano/planos.html">Planos</a></li>
          <li><a href="/public/Pages/contato/contato.html">Contato</a></li>
          <li><a href="/public/Pages/Login/login.html">Login</a></li>
        </ul>
        <div class="menu-mobile">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </nav>
    </div>
  </header>
  